.firstCard, .secondCard, .thirdCard {
    display: flex;
    flex-direction: column;
    gap: 50px;

    
}
.testcards_main{
    padding: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

.custom-dropdown-item {
    width: 100% !important;
}

.cards_wrapper {
    background-color: rgba(80, 97, 197, 0.13);
    margin-top: 50px;
    max-width: 1520px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 52px 0px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='rgba(80, 97, 197, 0.82)' stroke-width='7' stroke-dasharray='3%2c8%2c10%2c18' stroke-dashoffset='42' stroke-linecap='round'/%3e%3c/svg%3e");
}

.custom-dropdown .btn {
    font-size: 30px !important;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 97, 197, 0.65);
    color: rgba(0, 15, 103, 1);
    font-weight: bold;
    gap: 20px;
    padding: 12px 0px;
    border: none;
    border-radius: 12px;
    margin-bottom: 16px;
}
  
.custom-dropdown .btn::after {
    border-top: 18px solid !important;
    border-right: 16px solid transparent !important;
    border-left: 16px solid transparent !important;
    color: rgba(30, 43, 115, 0.57);
}